.main {
    background: url(../images/recycling_home.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    min-height: 100vh;
}

.title {
    text-align: center;
    position: relative;
    top: 190px;
    color: white;
}

.chart{
    text-align: center;
    position: relative;
    top: 230px;
}

.button-four {
    position: relative;
    top: 250px;
    text-align: center;
}

.btn {
    background: #06b393;
    border: none;
    color: #fff;
    margin: 5px;
}

.bottom {
    text-align: center;
    color: white;
    top: 400px;
}