extends layout

block content
    .main
        .title
            h1 Placeholder for directory, user is #{user.username}
            button#plastic.float-left.submit-button(onclick="location.href = '/subdirectory/plastic';") Plastic
            button#electrical.float-left.submit-button(onclick="location.href = '/subdirectory/electrical';") Electrical
            button#clothing.float-left.submit-button(onclick="location.href = '/subdirectory/clothing';") Clothing
