 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Recycling at Home</title>
    <script type="text/javascript" src="head.js"></script>

</head>
<body>
    <p id = "result">Hello, </p>
    <script>

        /*function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        /*username = getCookie("session");
        if (username === ""){
            document.getElementById("result").innerHTML = "You are not logged in"
        }
        else{*/
            document.set
            document.getElementById("result").innerHTML = document.cookie;
            console.log("hello");


    </script>
</body>
</html>