doctype html
html
    head
        title #{user.username}'s homepage
        link(rel='stylesheet', href='../css/bootstrap.css')
        link(rel='stylesheet', href='../css/head_style.css', type='text/css', media='all')
        link(rel='stylesheet', href='../css/font-awesome.css')
        link(rel='stylesheet', href='../css/lightbox.css')
        link(rel='stylesheet', href='../css/home.css')
    body
        block content